<!DOCTYPE html>
<html lang="ko">
  <body>
    <div class="col-md-4">
        <div class="card">
            <img src="<%= data[i].cover_image_path %>" class="card-img-top" alt="Card image">
            <div class="card-body">
                <div class="card-catogory"><span class="badge bg-light"><%= data[i].category %></span></div>
                <h5 class="card-title"><a href="view"> <%= data[i].title %> </a></h5>
                <p class="card-text fs-sm"><%= data[i].contents %></p>
                <p class="card-date card-text fs-sm">14시간 전</p>
            </div>
        </div>
    </div>
  </body>
</html>