<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>하나금융파인드</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="vendor/swiper/modules/zoom/zoom.css"/>
    <link rel="stylesheet" media="screen" href="vendor/boxicons/css/boxicons.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/swiper/swiper-bundle.min.css"/>

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="css/theme.css">
    <link rel="stylesheet" media="screen" href="css/theme-custom.css">

  </head>

  <!-- Body -->
  <body>

    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">

      <!-- Navbar -->
      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
    <header>
      <% include header %>
    </header>
      
      <!--jumbotron-->
      <section class="jumbotron-wrap">
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="jumbotron" style="background-image: url(img/sample/jumbotron/frustrated-man-on-computer.jpg);">
                  <div class="row">
                    <div class="col">
                        <h5 class="feature-heading">추천 포스트</h5>
                        <h1 class="entry-title">
                            <a href="view">자동차보험, 다이렉트로 가입하면 얼마나 저렴할까?</a>
                        </h1>
                        <p class="entry-meta">
                            <span class="entry-author">
                                <a title="Posts by Feature Shoot" rel="author">하나금융파인드</a>
                            </span>• 19시간전
                        </p>
                        <p class="entry-excerpt">
                          자동차보험은 운전면허 취득 후 의무적으로 가입해야 하는 보장성 상품이며, 미가입 시 처벌을 받거나 과태료가 부과된다. 다이렉트 자동차보험 가입 방법과 유의할 점을 알아보자.
                        </p>
                    </div>
                  </div>
                  <div class="jumbotron-overlay"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="jumbotron" style="background-image: url(img/sample/jumbotron/business-pug-working-on-laptop.jpg);">
                  <div class="row">
                    <div class="col">
                        <h5 class="feature-heading">추천 포스트</h5>
                        <h1 class="entry-title">
                            <a href="view">펫보험도 다이렉트 시대 우리집 댕댕이도 가입해볼까?</a>
                        </h1>
                        <p class="entry-meta">
                            <span class="entry-author">
                                <a title="Posts by Feature Shoot" rel="author">하나금융파인드</a>
                            </span>• 19시간전
                        </p>
                        <p class="entry-excerpt">
                          펫보험은 개나 고양이 등 반려동물의 질병·상해 등을 보장하는 보험이다. 작년 말 반려동물 시장 규모가 연간 4조원을 넘어선 가운데 보험사들이 ‘장기 펫보험’ 출시에 속도를 내고 있다.
                        </p>
                    </div>
                  </div>
                  <div class="jumbotron-overlay"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="jumbotron" style="background-image: url(img/sample/jumbotron/bills-and-receipts.jpg);">
                  <div class="row">
                    <div class="col">
                        <h5 class="feature-heading">추천 포스트</h5>
                        <h1 class="entry-title">
                            <a href="view">예·적금 금리 껑충…‘저축보험 깰까’ 고민하는 4050</a>
                        </h1>
                        <p class="entry-meta">
                            <span class="entry-author">
                                <a title="Posts by Feature Shoot" rel="author">하나금융파인드</a>
                            </span>• 19시간전
                        </p>
                        <p class="entry-excerpt">
                          자동차보험은 운전면허 취득 후 의무적으로 가입해야 하는 보장성 상품이며, 미가입 시 처벌을 받거나 과태료가 부과된다. 다이렉트 자동차보험 가입 방법과 유의할 점을 알아보자.
                        </p>
                    </div>
                  </div>
                  <div class="jumbotron-overlay"></div>
              </div>
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
        
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </section>
      <!--jumbotron-->
      <section class="container posts-wrap pt-5 pb-3">
        <div class="row">
        <% for(var i=0; i<data.length; i++) { %>
            <% include card %>
        <% } %>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer>
      <% include footer %>
    </footer>
  
    <!-- Vendor Scripts -->
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main Theme Script -->
    <script type="module" src="js/src/theme.js"></script>
    <script>
      const swiper = new Swiper('.swiper', {
        speed: 400,
        loop : true,
        pagination: {
          el: ".swiper-pagination",
          type : 'bullets',
          clickable: true
        },
        autoplay: {
          delay: 3000,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        }
      });
    </script>
  </body>
</html>