<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>하나금융파인드</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="vendor/boxicons/css/boxicons.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/swiper/swiper-bundle.min.css"/>

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="css/theme.css">
    <link rel="stylesheet" media="screen" href="css/theme-custom.css">

  </head>

  <!-- Body -->
  <body>

    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">

      <!-- Navbar -->
      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
      <header class="header navbar navbar-expand-lg bg-light navbar-sticky position-absolute navbar-transparent">
        <div class="container px-3">
          <a href="/" class="navbar-brand pe-3">
            <img class="top-logo hanafind-black" src="img/logo/hanafind-logo-black.png">
            <img class="top-logo hanafind-white" src="img/logo/hanafind-logo-white.png">
          </a>
          <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header border-bottom">
              <h5 class="offcanvas-title">Menu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">하나공감</a>
                  <ul class="dropdown-menu">
                    <li><a href="categories" class="dropdown-item">보험</a></li>
                    <li><a href="categories" class="dropdown-item">금융</a></li>
                    <li><a href="categories" class="dropdown-item">건강</a></li>
                  </ul>
                </li>
              </ul>
            </div>    
          </div>
          <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </header>

      <!--jumbotron-->
      <section class="jumbotron-wrap">
        <div class="jumbotron" style="background-image: url(img/sample/jumbotron/kitchen.png);">
            <div class="row">
            <div class="col">
                <h5 class="feature-heading"><span class="badge bg-light" style="font-size: .8rem;">보험</span></h5>
                <h1 class="entry-title">
                    <a href="#">음식점 화재보험 가입시 유의사항 5가지</a>
                </h1>
                <p class="entry-meta">
                    <span class="entry-author">
                        <a title="Posts by Feature Shoot" rel="author">하나금융파인드</a>
                    </span>• 19시간전
                </p>
            </div>
            </div>
            <div class="jumbotron-overlay"></div>
        </div>
      </section>

      <section class="container contents-html pt-5">
        <p class="fs-6">
            주택 다음으로 화재가 많이 발생하는 곳 2위가 음식점인걸 알고 계시나요?
음식점을 운영하고 계시다면 꼭 화재보험을 가입 해두시는 것이 소중한 나의 재산을 지킬 수 있는 든든한 수단입니다. 지금부터 음식점 화재보험 가입시 유의사항 5가지를 알아볼게요.
        </p>
        <p>
            <h5 class="pt-3">1. 음식물 배상책임</h5>
            <p class="fs-6">
                가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하
            </p>
        </p>
        <p>
            <h5 class="pt-3">2. 시설소유관리자 배상책임</h5>
            <p class="fs-6">
                가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하 가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하
            </p>
        </p>
        <p>
            <h5 class="pt-3">3. 가스사고 배상책임</h5>
            <p class="fs-6">
                가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 
            </p>
        <p>
            <h5 class="pt-3">4. 구내폭발파열 위험</h5>
            <p class="fs-6">
                가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하
            </p>
        </p>
        <p>
            <h5 class="pt-3">5. 화재 배상책임</h5>
            <p class="fs-6">
                가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 가나다라마바사아자차카타파하 
            </p>
        </p>
        <p class="fs-6 mt-5">
            지금까지 음식점 화재보험 가입시 유의사항 5가지를 알아보았습니다.
            언제나 화재 사고에 조심하시기 바랍니다.
        </p>
        <p class="fs-xs mt-5" style="font-size: .6rem !important;">
            하나금융파인드(주) (보험대리점 등록번호:제2021040072호)<br>
            본 광고는 광고심의기준을 준수하였으며, 유효기간은 심의일로부터 1년입니다.<br>
            하나금융파인드 준법감시필 제2022-08-0004호(2022.08.05~2323.08.04)
        </p>
      </section>
      
      <section class="container posts-wrap pt-5 pb-3">
        <div class="row">
          <h4 class="h5 mb-4">연관 포스트</h4>
          <div class="col-md-6">
            <div class="card">
              <img src="img/sample/post-thumb/frustrated-man-on-computer.jpg" class="card-img-top" alt="Card image">
              <div class="card-body">
                <div class="card-catogory"><span class="badge bg-light">보험</span></div>
                <h5 class="card-title">자동차보험, 다이렉트로 가입하면 얼마나 저렴할까?</h5>
                <p class="card-text fs-sm">자동차보험은 운전면허 취득 후 의무적으로 가입해야 하는 보장성 상품이며, 미가입 시 처벌을 받거나 과태료가 부과된다. 단, 의무보험이라고 해서 가입하는 것으로</p>
                <p class="card-date card-text fs-sm">14시간 전</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
                <img src="img/sample/post-thumb/business-pug-working-on-laptop.jpg" class="card-img-top" alt="Card image">
                <div class="card-body">
                <div class="card-catogory"><span class="badge bg-light">보험</span></div>
                <h5 class="card-title">펫보험도 다이렉트 시대 우리집 댕댕이도 가입해볼까?</h5>
                <p class="card-text fs-sm">펫보험은 개나 고양이 등 반려동물의 질병·상해 등을 보장하는 보험이다. 아직 국내에서 생소한 펫보험으로 돌풍을 일으킨 것은 반려동물을 위한 상품 설계를 촘촘하게</p>
                <p class="card-date card-text fs-sm">14시간 전</p>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <h4 class="h5 mb-4">추천 포스트</h4>
          <div class="col-md-6">
            <div class="card">
              <img src="img/sample/post-thumb/stock-market-tracking-and-stocks.jpg" class="card-img-top" alt="Card image">
              <div class="card-body">
                <div class="card-catogory"><span class="badge bg-light">보험</span></div>
                <h5 class="card-title">주가 곤두박질 '롯데칠성' 어디가 바닥일까?</h5>
                <p class="card-text fs-sm">롯데칠성에서 출시한 소주 "새로"가 소비자들에게 외면 받고있다. 한 자영업자 말에 따르면 손님이 1병 시키고 더이상 시키지 않는다고 전했다.</p>
                <p class="card-date card-text fs-sm">14시간 전</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <img src="img/sample/post-thumb/dog-staying-warm.jpg" class="card-img-top" alt="Card image">
              <div class="card-body">
                <div class="card-catogory"><span class="badge bg-light">보험</span></div>
                <h5 class="card-title">반려인 능력 시험 - 당신의 반려 점수는요?</h5>
                <p class="card-text fs-sm">나는 나의 반려동물에게 좋은 '반려인'인지 스스로 알아보는 '셀프 시험'이 열린다. 서울시가 올해에도 '서울시 반려인 능력시험'을 개최한다.</p>
                <p class="card-date card-text fs-sm">2022.12.12</p>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

    <!-- Footer -->
    <footer class="footer dark-mode bg-dark pt-4 pb-4 pb-lg-4">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="navbar-brand text-dark p-0 me-0 mb-1 mb-lg-2">
              (주)하나금융파인드
            </div>
            <p class="footer-address fs-sm text-light opacity-70  p-0 me-0 mb-1 mb-lg-2">
                사업자번호 : 159-81-02139 | 보험대리점 등록번호 : 제2021040072호<br>
                주소 : 서울특별시 종로구 창경궁로 117, 5층
            </p>
          </div>
        </div>
        <p class="nav d-block fs-xs text-md-start pb-0 pb-lg-0 mb-0">
          <span class="footer-copy text-light opacity-50">&copy; 2022. Hana Financial Find Inc. All rights reserved.</span>
        </p>
      </div>
    </footer>

    <!-- Back to top button -->
    <a href="#top" class="btn-scroll-top" data-scroll>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
    </a>

    <!-- Vendor Scripts -->
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main Theme Script -->
    <script type="module" src="js/src/theme.js"></script>
    <script>
      const swiper = new Swiper('.swiper', {
        speed: 400,
        loop : true,
        pagination: {
          el: ".swiper-pagination",
          type : 'bullets',
          clickable: true
        },
        autoplay: {
          delay: 3000,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        }
      });
    </script>
  </body>
</html>