<!-- Alert noboder -->
<section id="alerts-noboder" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
    <h2 class="h4">알림: 스타일</h2>
    <div class="d-table">
      <ul class="nav nav-tabs-alt" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#preview-noboder" data-bs-toggle="tab" role="tab" aria-controls="preview-noboder" aria-selected="true">
            <i class="bx bx-show-alt fs-base opacity-70 me-2"></i>
            Preview
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#html-noboder" data-bs-toggle="tab" role="tab" aria-controls="html-noboder" aria-selected="false">
            <i class="bx bx-code-alt fs-base opacity-70 me-2"></i>
            HTML
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content pt-1">
      <div class="tab-pane fade show active" id="preview-noboder" role="tabpanel">
        <div class="alert alert-primary alert-noboder" role="alert">외각선이 없는</div>
        <div class="alert alert-secondary alert-inline" role="alert">인라인 스타일</div>
        <div class="alert d-flex alert-success" role="alert"><i class="bx bx-info-circle lead me-3"></i><div>아이콘과 함께</div></div>
        <div class="alert alert-s alert-danger" role="alert">작은 사이즈</div>
        <div class="alert alert-xs alert-warning alert-noboder" role="alert">더 작은 사이즈</div>
        <div class="alert alert-l alert-info alert-noboder" role="alert">큰사이즈</div>
        <div class="alert alert-xl alert-dark alert-noboder mb-0" role="alert">더 큰사이즈</div>
      </div>
      <div class="tab-pane fade" id="html-noboder" role="tabpanel">
        <pre class="line-numbers"><code class="lang-html">&lt;!-- Primary alert --&gt;
&lt;div class=&quot;alert alert-primary alert-noboder&quot; role=&quot;alert&quot;&gt;외각선이 없는&lt;/div&gt;
&lt;div class=&quot;alert alert-secondary alert-inline&quot; role=&quot;alert&quot;&gt;인라인 스타일&lt;/div&gt;
&lt;div class=&quot;alert d-flex alert-success&quot; role=&quot;alert&quot;&gt;&lt;i class=&quot;bx bx-info-circle lead me-3&quot;&gt;&lt;/i&gt;&lt;div&gt;아이콘과 함께&lt;/div&gt;&lt;/div&gt;
&lt;div class=&quot;alert alert-s alert-danger&quot; role=&quot;alert&quot;&gt;작은 사이즈&lt;/div&gt;
&lt;div class=&quot;alert alert-xs alert-warning alert-noboder&quot; role=&quot;alert&quot;&gt;더 작은 사이즈&lt;/div&gt;
&lt;div class=&quot;alert alert-l alert-info alert-noboder&quot; role=&quot;alert&quot;&gt;큰사이즈&lt;/div&gt;
&lt;div class=&quot;alert alert-xl alert-dark alert-noboder mb-0&quot; role=&quot;alert&quot;&gt;더 큰사이즈&lt;/div&gt;</code></pre>
      </div>
    </div>
</section>