<!-- Alert -->
<section id="alerts-basic" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
    <h2 class="h4">알림</h2>
    <div class="d-table">
      <ul class="nav nav-tabs-alt" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#preview-alert" data-bs-toggle="tab" role="tab" aria-controls="preview-alert" aria-selected="true">
            <i class="bx bx-show-alt fs-base opacity-70 me-2"></i>
            Preview
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#html-alert" data-bs-toggle="tab" role="tab" aria-controls="html-alert" aria-selected="false">
            <i class="bx bx-code-alt fs-base opacity-70 me-2"></i>
            HTML
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content pt-1">
      <div class="tab-pane fade show active" id="preview-alert" role="tabpanel">
        <div class="alert alert-primary" role="alert">차이를 만들 기회는 언제나 존재합니다.</div>
        <div class="alert alert-secondary" role="alert">차이를 만들 기회는 언제나 존재합니다.</div>
        <div class="alert alert-success" role="alert">차이를 만들 기회는 언제나 존재합니다.</div>
        <div class="alert alert-danger" role="alert">차이를 만들 기회는 언제나 존재합니다.</div>
        <div class="alert alert-warning" role="alert">차이를 만들 기회는 언제나 존재합니다.</div>
        <div class="alert alert-info" role="alert">차이를 만들 기회는 언제나 존재합니다.</div>
        <div class="alert alert-light" role="alert">차이를 만들 기회는 언제나 존재합니다.</div>
        <div class="alert alert-dark mb-0" role="alert">차이를 만들 기회는 언제나 존재합니다.</div>
      </div>
      <div class="tab-pane fade" id="html-alert" role="tabpanel">
        <pre class="line-numbers"><code class="lang-html">&lt;!-- Primary alert --&gt;
&lt;div class=&quot;alert alert-primary&quot; role=&quot;alert&quot;&gt;
차이를 만들 기회는 언제나 존재합니다.
&lt;/div&gt;

&lt;!-- Secondary alert --&gt;
&lt;div class=&quot;alert alert-secondary&quot; role=&quot;alert&quot;&gt;
차이를 만들 기회는 언제나 존재합니다.
&lt;/div&gt;

&lt;!-- Success alert --&gt;
&lt;div class=&quot;alert alert-success&quot; role=&quot;alert&quot;&gt;
차이를 만들 기회는 언제나 존재합니다.
&lt;/div&gt;

&lt;!-- Danger alert --&gt;
&lt;div class=&quot;alert alert-danger&quot; role=&quot;alert&quot;&gt;
차이를 만들 기회는 언제나 존재합니다.
&lt;/div&gt;

&lt;!-- Warning alert --&gt;
&lt;div class=&quot;alert alert-warning&quot; role=&quot;alert&quot;&gt;
차이를 만들 기회는 언제나 존재합니다.
&lt;/div&gt;

&lt;!-- Info alert --&gt;
&lt;div class=&quot;alert alert-info&quot; role=&quot;alert&quot;&gt;
차이를 만들 기회는 언제나 존재합니다.
&lt;/div&gt;

&lt;!-- Light alert --&gt;
&lt;div class=&quot;alert alert-light&quot; role=&quot;alert&quot;&gt;
차이를 만들 기회는 언제나 존재합니다.
&lt;/div&gt;

&lt;!-- Dark alert --&gt;
&lt;div class=&quot;alert alert-dark&quot; role=&quot;alert&quot;&gt;
차이를 만들 기회는 언제나 존재합니다.
&lt;/div&gt;</code></pre>
      </div>
    </div>
</section>