<!-- Blockquote -->
<section id="type-blockquote" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
<h2 class="h4">인용구</h2>
    <div class="d-table">
        <ul class="nav nav-tabs-alt" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#preview6" data-bs-toggle="tab" role="tab" aria-controls="preview6" aria-selected="true">
            <i class="bx bx-show-alt fs-base opacity-70 me-2"></i>
            Preview
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#html6" data-bs-toggle="tab" role="tab" aria-controls="html6" aria-selected="false">
            <i class="bx bx-code-alt fs-base opacity-70 me-2"></i>
            HTML
            </a>
        </li>
        </ul>
    </div>
    <div class="tab-content pt-1">
        <div class="tab-pane fade show active" id="preview6" role="tabpanel">
        <figure class="mb-0">
            <blockquote class="blockquote">
            <p>마티니, 젓지 말고 흔들어서.</p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0">
            제임스 본드 <cite title="Source Title">[007 골드핑거]</cite>
            </figcaption>
        </figure>
        </div>
        <div class="tab-pane fade" id="html6" role="tabpanel">
        <pre class="line-numbers"><code class="lang-html">&lt;!-- Blockquote --&gt;
&lt;figure&gt;
    &lt;blockquote class=&quot;blockquote&quot;&gt;
        &lt;p&gt;마티니, 젓지 말고 흔들어서.&lt;/p&gt;
    &lt;/blockquote&gt;
    &lt;figcaption class=&quot;blockquote-footer&quot;&gt;
    제임스 본드 &lt;cite title=&quot;Source Title&quot;&gt;[007 골드핑거]&lt;/cite&gt;
    &lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>
        </div>
    </div>
</section>