<!-- Display headings -->
<section id="type-displays" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
    <h2 class="h4">표시 제목</h2>
    <div class="d-table">
        <ul class="nav nav-tabs-alt" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#preview2" data-bs-toggle="tab" role="tab" aria-controls="preview2" aria-selected="true">
            <i class="bx bx-show-alt fs-base opacity-70 me-2"></i>
            Preview
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#html2" data-bs-toggle="tab" role="tab" aria-controls="html2" aria-selected="false">
            <i class="bx bx-code-alt fs-base opacity-70 me-2"></i>
            HTML
            </a>
        </li>
        </ul>
    </div>
    <div class="tab-content pt-1">
        <div class="tab-pane fade show active" id="preview2" role="tabpanel">
        <h1 class="display-1">하나로 연결된 모두의 금융 1</h1>
        <hr class="my-0">
        <h1 class="display-2 pt-3">하나로 연결된 모두의 금융 2</h1>
        <hr class="my-0">
        <h1 class="display-3 pt-3">하나로 연결된 모두의 금융 3</h1>
        <hr class="my-0">
        <h1 class="display-4 pt-3">하나로 연결된 모두의 금융 4</h1>
        <hr class="my-0">
        <h1 class="display-5 pt-3">하나로 연결된 모두의 금융 5</h1>
        <hr class="my-0">
        <h1 class="display-6 pt-3 mb-0">하나로 연결된 모두의 금융 6</h1>
        </div>
        <div class="tab-pane fade" id="html2" role="tabpanel">
        <pre class="line-numbers"><code class="lang-html">&lt;!-- Display headings --&gt;
&lt;h1 class=&quot;display-1&quot;&gt;하나로 연결된 모두의 금융 1&lt;/h1&gt;
&lt;h1 class=&quot;display-2&quot;&gt;하나로 연결된 모두의 금융 2&lt;/h1&gt;
&lt;h1 class=&quot;display-3&quot;&gt;하나로 연결된 모두의 금융 3&lt;/h1&gt;
&lt;h1 class=&quot;display-4&quot;&gt;하나로 연결된 모두의 금융 4&lt;/h1&gt;
&lt;h1 class=&quot;display-5&quot;&gt;하나로 연결된 모두의 금융 5&lt;/h1&gt;
&lt;h1 class=&quot;display-6&quot;&gt;하나로 연결된 모두의 금융 6&lt;/h1&gt;</code></pre>
        </div>
    </div>
</section>