<!-- Headings -->
<section id="type-headings" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
    <h2 class="h4">제목</h2>
    <div class="d-table">
        <ul class="nav nav-tabs-alt" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#preview1" data-bs-toggle="tab" role="tab" aria-controls="preview1" aria-selected="true">
            <i class="bx bx-show-alt fs-base opacity-70 me-2"></i>
            Preview
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#html1" data-bs-toggle="tab" role="tab" aria-controls="html1" aria-selected="false">
            <i class="bx bx-code-alt fs-base opacity-70 me-2"></i>
            HTML
            </a>
        </li>
        </ul>
    </div>
    <div class="tab-content pt-1">
        <div class="tab-pane fade show active" id="preview1" role="tabpanel">
        <h1>h1. 함께 성장하며 행복을 나누는 금융 1</h1>
        <hr class="my-0">
        <h2 class="pt-3">h2. 함께 성장하며 행복을 나누는 금융 2</h2>
        <hr class="my-0">
        <h3 class="pt-3">h3. 함께 성장하며 행복을 나누는 금융 3</h3>
        <hr class="my-0">
        <h4 class="pt-3">h4. 함께 성장하며 행복을 나누는 금융 4</h4>
        <hr class="my-0">
        <h5 class="pt-3">h5. 함께 성장하며 행복을 나누는 금융 5</h5>
        <hr class="my-0">
        <h6 class="pt-3 mb-0">h6. 함께 성장하며 행복을 나누는 금융 6</h6>
        </div>
        <div class="tab-pane fade" id="html1" role="tabpanel">
        <pre class="line-numbers"><code class="lang-html">&lt;!-- Headings --&gt;
&lt;h1&gt;h1. 함께 성장하며 행복을 나누는 금융 1&lt;/h1&gt;
&lt;h2&gt;h2. 함께 성장하며 행복을 나누는 금융 2&lt;/h2&gt;
&lt;h3&gt;h3. 함께 성장하며 행복을 나누는 금융 3&lt;/h3&gt;
&lt;h4&gt;h4. 함께 성장하며 행복을 나누는 금융 4&lt;/h4&gt;
&lt;h5&gt;h5. 함께 성장하며 행복을 나누는 금융 5&lt;/h5&gt;
&lt;h6&gt;h6. 함께 성장하며 행복을 나누는 금융 6&lt;/h6&gt;</code></pre>
        </div>
    </div>
</section>