<!-- Description list basic example -->
<section id="type-description-list" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
    <h2 class="h4">목록: 설명</h2>
    <div class="d-table">
      <ul class="nav nav-tabs-alt" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#preview10" data-bs-toggle="tab" role="tab" aria-controls="preview10" aria-selected="true">
            <i class="bx bx-show-alt fs-base opacity-70 me-2"></i>
            Preview
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#html10" data-bs-toggle="tab" role="tab" aria-controls="html10" aria-selected="false">
            <i class="bx bx-code-alt fs-base opacity-70 me-2"></i>
            HTML
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content pt-1">
      <div class="tab-pane fade show active" id="preview10" role="tabpanel">
        <dl class="mb-0">
          <dt>Our value</dt>
          <dd>안녕하세요.</dd>
          <dt>New value</dt>
          <dd>지속가능경영 실현으로 새로운 가치를 제공</dd>
          <dt>Extra value</dt>
          <dd>변화에 적극적으로 대응하여 더 나은 가치를 창출</dd>
        </dl>
      </div>
      <div class="tab-pane fade" id="html10" role="tabpanel">
        <pre class="line-numbers"><code class="lang-html">&lt;!-- Description list basic example --&gt;
&lt;dl&gt;
    &lt;dt&gt;Our value&lt;/dt&gt;
    &lt;dd&gt;안녕하세요.&lt;/dd&gt;
    &lt;dt&gt;New value&lt;/dt&gt;
    &lt;dd&gt;지속가능경영 실현으로 새로운 가치를 제공&lt;/dd&gt;
    &lt;dt&gt;Extra value&lt;/dt&gt;
    &lt;dd&gt;변화에 적극적으로 대응하여 더 나은 가치를 창출&lt;/dd&gt;
&lt;/dl&gt;</code></pre>
      </div>
    </div>
</section>