<!-- Lists: Unordered and ordered -->
<section id="type-lists" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
    <h2 class="h4">목록: 순서가 없는, 순서가 있는</h2>
    <div class="d-table">
      <ul class="nav nav-tabs-alt" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#preview7" data-bs-toggle="tab" role="tab" aria-controls="preview7" aria-selected="true">
            <i class="bx bx-show-alt fs-base opacity-70 me-2"></i>
            Preview
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#html7" data-bs-toggle="tab" role="tab" aria-controls="html7" aria-selected="false">
            <i class="bx bx-code-alt fs-base opacity-70 me-2"></i>
            HTML
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content pt-1">
      <div class="tab-pane fade show active" id="preview7" role="tabpanel">
        <div class="row">
          <div class="col-sm-6">
            <ul class="mb-sm-0">
              <li>열정</li>
              <li>열린마음</li>
              <li>손님우선</li>
              <li>전문성</li>
              <li>존중과 배려</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ol class="mb-0">
                <li>열정</li>
                <li>열린마음</li>
                <li>손님우선</li>
                <li>전문성</li>
                <li>존중과 배려</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="html7" role="tabpanel">
        <pre class="line-numbers"><code class="lang-html">&lt;!-- Unordered list --&gt;
&lt;ul&gt;
    &lt;li&gt;열정&lt;/li&gt;
    &lt;li&gt;열린마음&lt;/li&gt;
    &lt;li&gt;손님우선&lt;/li&gt;
    &lt;li&gt;전문성&lt;/li&gt;
    &lt;li&gt;존중과 배려&lt;/li&gt;
&lt;/ul&gt;

&lt;!-- Ordered list --&gt;
&lt;ol&gt;
    &lt;li&gt;열정&lt;/li&gt;
    &lt;li&gt;열린마음&lt;/li&gt;
    &lt;li&gt;손님우선&lt;/li&gt;
    &lt;li&gt;전문성&lt;/li&gt;
    &lt;li&gt;존중과 배려&lt;/li&gt;
&lt;/ol&gt;</code></pre>
      </div>
    </div>
</section>