<!-- Lists: Inline -->
<section id="type-lists-inline" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
    <h2 class="h4">목록: 인라인</h2>
    <div class="d-table">
      <ul class="nav nav-tabs-alt" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#preview9" data-bs-toggle="tab" role="tab" aria-controls="preview9" aria-selected="true">
            <i class="bx bx-show-alt fs-base opacity-70 me-2"></i>
            Preview
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#html9" data-bs-toggle="tab" role="tab" aria-controls="html9" aria-selected="false">
            <i class="bx bx-code-alt fs-base opacity-70 me-2"></i>
            HTML
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content pt-1">
      <div class="tab-pane fade show active" id="preview9" role="tabpanel">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">가장 손님중심 그룹</li>
          <li class="list-inline-item">가장 인정받는 그룹</li>
          <li class="list-inline-item">가장 혁신적인 그룹</li>
        </ul>
      </div>
      <div class="tab-pane fade" id="html9" role="tabpanel">
        <pre class="line-numbers"><code class="lang-html">&lt;!-- Inline list --&gt;
&lt;ul class=&quot;list-inline&quot;&gt;
    &lt;li class=&quot;list-inline-item&quot;&gt;가장 손님중심 그룹&lt;/li&gt;
    &lt;li class=&quot;list-inline-item&quot;&gt;가장 인정받는 그룹&lt;/li&gt;
    &lt;li class=&quot;list-inline-item&quot;&gt;가장 혁신적인 그룹&lt;/li&gt;
&lt;/ul&gt;</code></pre>
      </div>
    </div>
</section>