<!-- Description list alignment -->
<section id="type-description-list-align" class="py-5 ps-lg-2 ps-xxl-0">
    <h2 class="h4">목록: 정렬</h2>
    <div class="d-table">
      <ul class="nav nav-tabs-alt" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#preview11" data-bs-toggle="tab" role="tab" aria-controls="preview11" aria-selected="true">
            <i class="bx bx-show-alt fs-base opacity-70 me-2"></i>
            Preview
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#html11" data-bs-toggle="tab" role="tab" aria-controls="html11" aria-selected="false">
            <i class="bx bx-code-alt fs-base opacity-70 me-2"></i>
            HTML
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content pt-1">
      <div class="tab-pane fade show active" id="preview11" role="tabpanel">
        <dl class="row mb-0">
          <dt class="col-sm-3">바람과 함께 사라지다</dt>
          <dd class="col-sm-9">"솔직히 내 사랑, 내 알 바 아니오.(Frankly, my dear, I don't give a damn.)"</dd>
          <dt class="col-sm-3">대부</dt>
          <dd class="col-sm-9">
            <p class="mb-2">"그가 절대 거절하지 못할 제안을 할거야. (I'm going to make him an offer he can't refuse.)"</p>
            <p class="mb-0">"친구는 가까이, 허나 적은 더 가까이. (Keep your friends close, but your enemies closer.)"</p>
          </dd>
          <dt class="col-sm-3">워터프론트</dt>
          <dd class="col-sm-9">"이해를 못 하는군! 나도 어엿한 권투선수가 됐을 거야. 건달이 아니라 뭔가 사람이 됐을 거란 말이야. 형 때문에 이 꼴이라고! (You don't understand! I coulda had class. I coulda been a contender.I could've been somebody, instead of a bum, which is what I am.)"</dd>
          <dt class="col-sm-3 text-truncate">오즈의 마법사</dt>
          <dd class="col-sm-9">"토토, 우리는 더 이상 캔자스에 있는 것 같지 않아. (Toto, I've got a feeling we're not in Kansas anymore.)"</dd>
          <dt class="col-sm-3">카사블랑카</dt>
          <dd class="col-sm-9">
            <dl class="row mb-0">
              <dt class="col-sm-4">"당신의 눈동자에 건배를. (Here's looking at you, kid.)"</dt>
              <dd class="col-sm-8">"루이, 이것이 멋진 우정의 시작일 거 같군. (Louis, I think this is the beginning of a beautiful friendship.)"</dd>
            </dl>
          </dd>
        </dl>
      </div>
      <div class="tab-pane fade" id="html11" role="tabpanel">
        <pre class="line-numbers"><code class="lang-html">&lt;!-- Description list alignment --&gt;
&lt;dl class=&quot;row mb-0&quot;&gt;
    &lt;dt class=&quot;col-sm-3&quot;&gt;바람과 함께 사라지다&lt;/dt&gt;
    &lt;dd class=&quot;col-sm-9&quot;&gt;&quot;솔직히 내 사랑, 내 알 바 아니오.(Frankly, my dear, I don&#39;t give a damn.)&quot;&lt;/dd&gt;
    &lt;dt class=&quot;col-sm-3&quot;&gt;대부&lt;/dt&gt;
    &lt;dd class=&quot;col-sm-9&quot;&gt;
    &lt;p class=&quot;mb-2&quot;&gt;&quot;그가 절대 거절하지 못할 제안을 할거야. (I&#39;m going to make him an offer he can&#39;t refuse.)&quot;&lt;/p&gt;
    &lt;p class=&quot;mb-0&quot;&gt;&quot;친구는 가까이, 허나 적은 더 가까이. (Keep your friends close, but your enemies closer.)&quot;&lt;/p&gt;
    &lt;/dd&gt;
    &lt;dt class=&quot;col-sm-3&quot;&gt;워터프론트&lt;/dt&gt;
    &lt;dd class=&quot;col-sm-9&quot;&gt;&quot;이해를 못 하는군! 나도 어엿한 권투선수가 됐을 거야. 건달이 아니라 뭔가 사람이 됐을 거란 말이야. 형 때문에 이 꼴이라고! (You don&#39;t understand! I coulda had class. I coulda been a contender.I could&#39;ve been somebody, instead of a bum, which is what I am.)&quot;&lt;/dd&gt;
    &lt;dt class=&quot;col-sm-3 text-truncate&quot;&gt;오즈의 마법사&lt;/dt&gt;
    &lt;dd class=&quot;col-sm-9&quot;&gt;&quot;토토, 우리는 더 이상 캔자스에 있는 것 같지 않아. (Toto, I&#39;ve got a feeling we&#39;re not in Kansas anymore.)&quot;&lt;/dd&gt;
    &lt;dt class=&quot;col-sm-3&quot;&gt;카사블랑카&lt;/dt&gt;
    &lt;dd class=&quot;col-sm-9&quot;&gt;
    &lt;dl class=&quot;row mb-0&quot;&gt;
    &lt;dt class=&quot;col-sm-4&quot;&gt;&quot;당신의 눈동자에 건배를. (Here&#39;s looking at you, kid.)&quot;&lt;/dt&gt;
    &lt;dd class=&quot;col-sm-8&quot;&gt;&quot;루이, 이것이 멋진 우정의 시작일 거 같군. (Louis, I think this is the beginning of a beautiful friendship.)&quot;&lt;/dd&gt;
    &lt;/dl&gt;
    &lt;/dd&gt;
&lt;/dl&gt;</code></pre>
      </div>
    </div>
</section>