<!-- Inline text elements -->
<section id="type-inline" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
    <h2 class="h4">인라인 텍스트 요소</h2>
    <div class="d-table">
        <ul class="nav nav-tabs-alt" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#preview4" data-bs-toggle="tab" role="tab" aria-controls="preview4" aria-selected="true">
            <i class="bx bx-show-alt fs-base opacity-70 me-2"></i>
            Preview
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#html4" data-bs-toggle="tab" role="tab" aria-controls="html4" aria-selected="false">
            <i class="bx bx-code-alt fs-base opacity-70 me-2"></i>
            HTML
            </a>
        </li>
        </ul>
    </div>
    <div class="tab-content pt-1">
        <div class="tab-pane fade show active" id="preview4" role="tabpanel">
        <p>마크 태그를 사용하여 <mark>텍스트</mark>를 강조</p>
        <p>
            <del>이 텍스트 행은 삭제된 텍스트로 취급됩니다.</del>
        </p>
        <p>
            <s>이 텍스트 줄은 더 이상 정확하지 않은 것으로 취급됩니다.</s>
        </p>
        <p><ins>이 텍스트 줄은 문서에 대한 추가 항목으로 취급됩니다.</ins></p>
        <p>
            <u>이 텍스트 줄은 밑줄이 그어진 것으로 렌더링됩니다.</u>
        </p>
        <p><small>이 텍스트 줄은 작은 텍스트로 렌더링됩니다.</small></p>
        <p><strong>이 텍스트 줄은 굵은 텍스트로 렌더링됩니다.</strong></p>
        <p><em>이 텍스트 줄은 기울임꼴 텍스트로 렌더링됩니다.</em></p>
        <p class="mb-0"><a href="#">Inline link</a></p>
        </div>
        <div class="tab-pane fade" id="html4" role="tabpanel">
        <pre class="line-numbers"><code class="lang-html">&lt;!-- Inline text elements --&gt;
&lt;p&gt;You can use the mark tag to &lt;mark&gt;highlight&lt;/mark&gt; text.&lt;/p&gt;
&lt;p&gt;&lt;del&gt;This line of text is meant to be treated as deleted text.&lt;/del&gt;&lt;/p&gt;
&lt;p&gt;&lt;s&gt;This line of text is meant to be treated as no longer accurate.&lt;/s&gt;&lt;/p&gt;
&lt;p&gt;&lt;ins&gt;This line of text is meant to be treated as an addition to the document.&lt;/ins&gt;&lt;/p&gt;
&lt;p&gt;&lt;u&gt;This line of text will render as underlined.&lt;/u&gt;&lt;/p&gt;
&lt;p&gt;&lt;small&gt;This line of text is meant to be treated as fine print.&lt;/small&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;This line rendered as bold text.&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;This line rendered as italicized text.&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot;&gt;Inline link&lt;/a&gt;&lt;/p&gt;</code></pre>
        </div>
    </div>
</section>