<!-- text color -->
<section id="type-body-text" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
    <h2 class="h4">텍스트 컬러</h2>
    <div class="d-table">
        <ul class="nav nav-tabs-alt" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#preview-text-color" data-bs-toggle="tab" role="tab" aria-controls="preview-text-color" aria-selected="true">
            <i class="bx bx-show-alt fs-base opacity-70 me-2"></i>
            Preview
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#html-text-color" data-bs-toggle="tab" role="tab" aria-controls="html-text-color" aria-selected="false">
            <i class="bx bx-code-alt fs-base opacity-70 me-2"></i>
            HTML
            </a>
        </li>
        </ul>
    </div>
    <div class="tab-content pt-1">
        <div class="tab-pane fade show active" id="preview-text-color" role="tabpanel">
        <p class="color-blue">.color-blue</p>
        <p class="color-indigo">.color-indigo</p>
        <p class="color-purple">.color-purple</p>
        <p class="color-red">.color-red</p>
        <p class="color-orange">.color-orange</p>
        <p class="color-yellow">.color-yellow</p>
        <p class="color-green">.color-green</p>
        <p class="color-teal">.color-teal</p>
        <p class="color-cyan">.color-cyan</p>
        <p class="color-black">.color-black</p>
        <p class="color-white">.color-white</p>
        <p class="color-gray">.color-gray</p>
        </div>
        <div class="tab-pane fade" id="html-text-color" role="tabpanel">
        <pre class="line-numbers d-flex"><code class="lang-html">&lt;!-- text colors --&gt;
&lt;p class=&quot;color-blue&quot;&gt;color-blue&lt;/p&gt;
&lt;p class=&quot;color-indigo&quot;&gt;color-indigo&lt;/p&gt;
&lt;p class=&quot;color-purple&quot;&gt;color-purple&lt;/p&gt;
&lt;p class=&quot;color-red&quot;&gt;color-red&lt;/p&gt;
&lt;p class=&quot;color-orange&quot;&gt;color-orange&lt;/p&gt;
&lt;p class=&quot;color-yellow&quot;&gt;color-yellow&lt;/p&gt;
&lt;p class=&quot;color-green&quot;&gt;color-green&lt;/p&gt;
&lt;p class=&quot;color-teal&quot;&gt;color-teal&lt;/p&gt;
&lt;p class=&quot;color-cyan&quot;&gt;color-cyan&lt;/p&gt;
&lt;p class=&quot;color-black&quot;&gt;color-black&lt;/p&gt;
&lt;p class=&quot;color-white&quot;&gt;color-white&lt;/p&gt;
&lt;p class=&quot;color-gray&quot;&gt;color-gray&lt;/p&gt;
    </code></pre>
        </div>
    </div>
</section>