<!-- Body text sizes -->
<section id="type-body-text" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
    <h2 class="h4">텍스트 사이즈</h2>
    <div class="d-table">
        <ul class="nav nav-tabs-alt" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#preview3" data-bs-toggle="tab" role="tab" aria-controls="preview3" aria-selected="true">
            <i class="bx bx-show-alt fs-base opacity-70 me-2"></i>
            Preview
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#html3" data-bs-toggle="tab" role="tab" aria-controls="html3" aria-selected="false">
            <i class="bx bx-code-alt fs-base opacity-70 me-2"></i>
            HTML
            </a>
        </li>
        </ul>
    </div>
    <div class="tab-content pt-1">
        <div class="tab-pane fade show active" id="preview3" role="tabpanel">
        <p class="fs-1"><span class="fw-bold">fs-1.&nbsp;</span>안녕하세요.</p>
        <p class="fs-2"><span class="fw-bold">fs-2.&nbsp;</span>안녕하세요.</p>
        <p class="fs-3"><span class="fw-bold">fs-3.&nbsp;</span>안녕하세요.</p>
        <p class="fs-4"><span class="fw-bold">fs-4.&nbsp;</span>안녕하세요.</p>
        <p class="fs-5"><span class="fw-bold">fs-5.&nbsp;</span>안녕하세요.</p>
        <p class="fs-6"><span class="fw-bold">fs-6.&nbsp;</span>안녕하세요.</p>
        <p class="lead"> <span class="fw-bold">Lead.&nbsp;</span>안녕하세요.</p>
        <p class="fs-lg"> <strong>Large.&nbsp;</strong>안녕하세요.</p>
        <p><strong>Normal.&nbsp;</strong>안녕하세요.</p>
        <p class="fs-sm"><strong>Small.&nbsp;</strong>안녕하세요.</p>
        <p class="fs-xs mb-md-0"><strong>Extra small.&nbsp;</strong>안녕하세요.</p>
        </div>
        <div class="tab-pane fade" id="html3" role="tabpanel">
        <pre class="line-numbers d-flex"><code class="lang-html">&lt;!-- Body text sizes --&gt;
&lt;p class=&quot;fs-1&quot;&gt;안녕하세요.&lt;/p&gt;
&lt;p class=&quot;fs-2&quot;&gt;안녕하세요.&lt;/p&gt;
&lt;p class=&quot;fs-3&quot;&gt;안녕하세요.&lt;/p&gt;
&lt;p class=&quot;fs-4&quot;&gt;안녕하세요.&lt;/p&gt;
&lt;p class=&quot;fs-5&quot;&gt;안녕하세요.&lt;/p&gt;
&lt;p class=&quot;fs-6&quot;&gt;안녕하세요.&lt;/p&gt;
&lt;p class=&quot;lead&quot;&gt;안녕하세요.&lt;/p&gt;
&lt;p class=&quot;fs-lg&quot;&gt;안녕하세요.&lt;/p&gt;
&lt;p&gt;안녕하세요.&lt;/p&gt;
&lt;p class=&quot;fs-sm&quot;&gt;안녕하세요.&lt;/p&gt;
&lt;p class=&quot;fs-xs&quot;&gt;안녕하세요.&lt;/p&gt;</code></pre>
        </div>
    </div>
</section>