<!-- youtube ratio -->
<section id="youtube" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
    <h2 class="h4">유투브</h2>
    <div class="d-table">
      <ul class="nav nav-tabs-alt" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#preview-youtube-ratio" data-bs-toggle="tab" role="tab" aria-controls="preview-youtube-ratio" aria-selected="true">
            <i class="bx bx-show-alt fs-base opacity-70 me-2"></i>
            Preview
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#html-youtube-ratio" data-bs-toggle="tab" role="tab" aria-controls="html-youtube-ratio" aria-selected="false">
            <i class="bx bx-code-alt fs-base opacity-70 me-2"></i>
            HTML
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content pt-1">
      <div class="tab-pane fade show active" id="preview-youtube-ratio" role="tabpanel">
        <div class="video">
            <div class="video-ratio">
                <iframe src="https://www.youtube.com/embed/kR17qHKkkvk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="html-youtube-ratio" role="tabpanel">
        <pre class="line-numbers"><code class="lang-html">&lt;!-- youtube --&gt;
&lt;div class=&quot;video&quot;&gt;
    &lt;div class=&quot;video-ratio&quot;&gt;
        &lt;iframe src=&quot;https://www.youtube.com/embed/kR17qHKkkvk&quot; title=&quot;YouTube video player&quot; frameborder=&quot;0&quot; allow=&quot;accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture&quot; allowfullscreen&gt;&lt;/iframe&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
      </div>
    </div>
</section>