a{
    color: inherit !important;
    text-decoration: none !important;
}
/* Pop */
@-webkit-keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
}
@keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}
.hvr-pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
/* navbar */
.navbar-transparent{
    background-color: transparent !important;
    color: #fff !important;
}
.navbar-transparent .navbar-brand{
    color: #fff !important;
}
.navbar-transparent .offcanvas:not(.show) .nav-link{
    color: #fff !important;
}
@media (max-width: 992px) {
    .navbar-transparent{
        color: #000 !important;
    }
}
.navbar .dropdown-item:hover, .dropdown-item:focus {
    color: #009591 !important;
}
.navbar .top-logo{
    display: none;
}
.navbar.navbar-transparent .hanafind-white{
    display: block;
}
.navbar.navbar-transparent .navbar-toggler-icon,
.navbar.navbar-transparent .navbar-toggler-icon::before,
.navbar.navbar-transparent .navbar-toggler-icon::after{
    background-color: #ffffff;
}
.navbar:not(.navbar-transparent) .hanafind-black{
    display: block;
}
.navbar .top-logo{
    width: 150px;
    height: 27px;
}
@media (max-width: 500px) {
    .navbar .top-logo{
        width: 122px;
        height: 22px;
    }
}
.navbar-stuck .header-scroll{
    visibility: visible;
}
.header-scroll{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -2px;
    visibility: hidden;
}
.header-scroll > div{
    height: 2px;
    background-color: #000;
}
/* pagination */
.pagination .page-item.active a{
    color: #fff !important;
}
/* jumbotron */
.jumbotron{
    position: relative;
    width: 100%;
    height: 600px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
    color: #fff;
    overflow: hidden;
}
.jumbotron-overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
    background-color: #0b0f19;
    opacity: .4;
    z-index: 4;
}
.jumbotron .row{
    position: absolute;
    margin: 0;
    width: 100%;
    bottom: 50px;
    z-index: 10;
}
.jumbotron .col{
    flex: none;
    padding-left: 6rem !important;
    width: 80%;
}
@media (max-width: 768px) {
    .jumbotron .col{
        margin: 0 auto;
        padding: 0 !important;
        width: 90%;
    }
}
.jumbotron .feature-heading, .jumbotron .entry-title, .jumbotron .entry-meta, .jumbotron .entry-excerpt, .jumbotron a{
    color: #fff !important;
    margin-bottom: .5rem !important;
}
.jumbotron .feature-heading{
    color: #00d9d3 !important;
}
.jumbotron .entry-excerpt{
    font-size: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
@media (max-width: 768px) {
    .jumbotron .feature-heading{
        font-size: 1.2rem;
    }
    .jumbotron .entry-title{
        font-size: 1.6rem;
    }
}

@media (max-width: 500px) {
    .jumbotron .feature-heading{
        font-size: 1rem;
    }
    .jumbotron .entry-title{
        font-size: 1.4rem;
    }
    .jumbotron .entry-meta, .jumbotron .entry-excerpt{
        font-size: .9rem;
        -webkit-line-clamp: 2;
    }
    .jumbotron .feature-heading, .jumbotron .entry-title, .jumbotron .entry-meta, .jumbotron .entry-excerpt, .jumbotron a{
        margin-bottom: .3rem !important;
    }
}
.jumbotron-cover-video{
    position: absolute;
    z-index: 2;
}
.jumbotron-cover-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}
.jumbotron-cover-image-zoom{
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    animation-name: jumbotron-cover-zoom;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@-webkit-keyframes jumbotron-cover-zoom{
    from {
      transform:scale(1);
    }
    to {
      transform:scale(.85);
    }
}

/* swiper */
.jumbotron-wrap .swiper-button-prev, .jumbotron-wrap .swiper-button-next {
    color: #fff;
}
.jumbotron-wrap .swiper-button-prev::after, .jumbotron-wrap .swiper-button-next::after {
    font-size: 30px;
}
.jumbotron-wrap .swiper-button-prev{
    left: 30px;
}
.jumbotron-wrap .swiper-button-next {
    right: 30px;
}
@media (max-width: 768px) {
    .jumbotron-wrap .swiper-button-prev, .jumbotron-wrap .swiper-button-next{
        display: none;
    }
}

/* posts */
.posts-wrap .row{
    
}

.posts-wrap .card{
    border: 0;
    margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
    .posts-wrap .card{
        margin-bottom: 1.5rem;
    }   
}
.posts-wrap .card-media-wrap{
    position: relative;
    padding-bottom: 65%;
}
.posts-wrap .card-media{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.posts-wrap .card-img, .posts-wrap .card-img-top{
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.posts-wrap .card-img{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.posts-wrap a:hover .card-img{
    -webkit-box-shadow: 0px 8px 15px 5px rgba(130,130,130,0.5); 
    box-shadow: 0px 8px 15px 5px rgba(130,130,130,0.5);
    -webkit-transform: scale(1.02);
	transform: scale(1.02);
}
.posts-wrap .card-body{
    padding: 1rem 0 1rem 0;
}
.posts-wrap .card-catogory{
    font-size: .9rem;
    margin-bottom: .7rem;
}
.posts-wrap .badge{
    border: 1px solid #0b0f19;
    margin-right: 4px;
}
.posts-wrap .card-title{
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.posts-wrap a:hover .card-title{
    color: #009591;
}
.posts-wrap .card-text{
    margin-bottom: .7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.posts-wrap .card-date{
    font-size: .8rem !important;
    color: #6b7684;
}

/* footer */
.footer .navbar-brand{
    font-size: 1rem;
}
.footer .footer-address{
    font-size: .7rem !important;
}
@media (max-width: 768px) {
    .footer .navbar-brand{
        font-size: .8rem;
    }
    .footer .footer-address{
        font-size: .6rem !important;
    }
    .footer .footer-copy{
        font-size: .5rem !important;
    }
}

.color-blue{
    color: var(--si-blue) !important;
}
.color-indigo{
    color: var(--si-indigo) !important;
}
.color-purple{
    color: var(--si-purple) !important;
}
.color-pink{
    color: var(--si-pink) !important;
}
.color-red{
    color: var(--si-red) !important;
}
.color-orange{
    color: var(--si-orange) !important;
}
.color-yellow{
    color: var(--si-yellow) !important;
}
.color-green{
    color: var(--si-green) !important;
}
.color-teal{
    color: var(--si-) !important;
}
.color-cyan{
    color: var(--si-cyan) !important;
}
.color-black{
    color: var(--si-black) !important;
}
.color-white{
    color: var(--si-white) !important;
}
.color-gray{
    color: var(--si-gray) !important;
}

.alert-noboder{
    border: 0 !important;
}
.alert-inline{
    display: inline-block !important;
}
.alert-center{
    display: table !important;
    margin: 0 auto;
}
.alert-s{
    padding: .8rem;
    font-size: .8rem;
}
.alert-xs{
    padding: .6rem;
    font-size: .6rem;
}
.alert-l{
    padding: 1.2rem;
    font-size: 1.2rem;
}
.alert-xl{
    padding: 1.4rem;
    font-size: 1.4rem;
}
.video-ratio{
    height: 0;
    /*  padding top은 부모 요소의 가로 요소에 영향을 받는다  */
    /*  height는 반응형이 안되고 크기를 픽스해버리는 것임  */
    padding-top: 56.25%;
    position: relative;
}
.video-ratio iframe{
    background: black;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
article{
    padding: 0 10px;
}
article a{
    color: #009591 !important;
    text-decoration: underline !important;
}
article table th, article table td{
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
article table.table-center td{
    text-align: center;
    vertical-align: middle;
} 
article table td{
    vertical-align: middle;
}
article p{
    font-size: 1.12rem !important;
    margin-bottom: 2.4rem;
}
article .img-500{
    width: 500px;
}
article .img-600{
    width: 600px;
}
article .img-700{
    width: 700px;
}
article ol, article ul {
    margin: 0;
    padding-left: 1.5rem;
}

.accordion-icon-bg {
    --si-accordion-btn-icon-box-bg: #f3f6ff;
    --si-accordion-btn-icon-box-active-bg: #009090;
}

.bg-hana {
    color: #fff;
    opacity: 1;
    background-color: #009090;
}

/* custom radio button */
input[type=radio]{
	width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
}
input[type=radio] + label{
    margin: 0;
    padding: .75em 1.5em;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: solid 1px #009090;
    background-color: #FFF;
    line-height: 140%;
    text-align: center;
    transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
    cursor: pointer;
}
input[type=radio]:checked + label{
	background-color: #009090;
    color: #FFF;
    border-color: #009090;
    z-index: 1;
}

.modal-content-padding {
    padding-right: var(--si-modal-padding);
    padding-left: var(--si-modal-padding);
}
.product-header{
    padding: 60px 40px 120px 40px;
    text-align: center;
    background-color: #009090;
    color: #fff;
}
.product-header h2{
    color: #fff;
}
.direct-wrap .product-type{
    text-align: center;
    margin-bottom: 30px;
}

.direct-wrap .product-type img{
    width: 40%;
    filter: invert(32%) sepia(52%) saturate(1064%) hue-rotate(136deg) brightness(92%) contrast(99%);
}

.direct-wrap .product-type a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px 5px;
}
.direct-wrap .product-type a.active{
    background: #009591;
    border-radius: 10px;
    color: #fff;
}
.direct-wrap .product-type a.active .type{
    color: #fff;
}

.direct-wrap .product-type a.active img, .direct-wrap .product-type a:hover img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(286deg) brightness(105%) contrast(101%);
}

/* Rectangle Out */
.hvr-rectangle-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #009591;
    border-radius: 10px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
    color: white !important;
  }
  .hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

.direct-wrap .product-type .desc{
    margin-top: 10px;
    font-size: 0.8rem;
}

.direct-wrap .product-type .type{
    margin-top: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

@media (max-width: 1200px) {
    .direct-wrap .product-type .desc{
        font-size: 0.7rem;
    }
    .direct-wrap .product-type .type{
        font-size: 0.8rem;
    }
}
@media (max-width: 767px) {
    .direct-wrap .product-type .desc{
        font-size: 0.7rem;
    }
    .direct-wrap .product-type .type{
        font-size: 0.8rem;
    }
}
.product-recommend-swiper{
    width: 100%;
    padding: 30px 20px 70px 20px;
    margin-bottom: 50px;
}
/* swiper */
.product-recommend-swiper .swiper-button-prev, .product-recommend-swiper .swiper-button-next {
    color: #009591;
}
.product-recommend-swiper .swiper-button-prev::after, .product-recommend-swiper .swiper-button-next::after {
    font-size: 30px;
}
.product-recommend-swiper .swiper-button-prev{
    left: 0px;
}
.product-recommend-swiper .swiper-button-next {
    right: 0px;
}
@media (max-width: 768px) {
    .product-recommend-swiper .swiper-button-prev, .product-recommend-swiper .swiper-button-next{
        display: none;
    }
}
.product-recommend-swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.product-recommend-swiper .swiper-slide img {
    display: inline-block;
    height: 30px;
}
.proudct-item{
    display: block;
    position: relative;
    width: 80%;
    min-height: 210px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 3px rgb(0 0 0 / 25%);
    box-shadow: 5px 5px 15px 3px rgb(0 0 0 / 25%);
}
.proudct-item:hover{
    
}
@media (max-width: 768px) {
    .proudct-item{
        width: 90%;
    }
}
.proudct-item a{
    display: block;
    padding: 20px 15px 40px 15px;
    width: 100%;
    height: 100%;
    
}
.proudct-item  .icon-outlink{
    display: inline-block;
    position: absolute;
    height: 15px;
    width: 15px;
    right: 20px;
    background-image: url("/assets/img/icon/iconmonstr-share-11.svg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
}
.proudct-item .logo, .proudct-item .name, .proudct-item .desc{
    display: inline-block;
    margin-top: 5px;
}
.proudct-item .logo{
    height: 30px;
}
.proudct-item .name{
    font-weight: bold;
}
.proudct-item .desc{
    font-size: 1rem;
}
.btn-proudcts-direct{
    text-align: center;
}
.btn-proudcts-direct > div{
    display: inline-block;
    width: 50%;
}
.btn-proudcts-direct button{
    width: 100%;
}

.consultant-wrap{
    background-color: #009090;
    color: #fff;
}
.consultant-wrap h4{
    color: #fff;
}

#btn_consultant{
    background-color: #fff !important;
}

@media (max-width: 768px) {
    #btn_consultant{
        display: block;
        width: 100%;
    }
}
#product-list-wrap .row .col-md-6{
    margin-bottom: 50px;
}