<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>하나금융파인드</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons -->
    <link rel="shortcut icon" href="/assets/favicon.ico">

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="/assets/css/theme.css">
    <link rel="stylesheet" media="screen" href="/assets/css/theme-custom.css">

  </head>

  <!-- Body -->
  <body>

    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">

      <!-- Page content -->
      <section class="container d-flex flex-column h-50 align-items-center position-relative zindex-5 pt-5">
        <div class="text-center pt-5 pb-3 mt-auto">

          <!-- Parallax gfx (Light version) -->
          <div class="parallax mx-auto d-dark-mode-none" style="max-width: 574px;">
            <div class="parallax-layer" data-depth="-0.15">
              <img src="/assets/img/404/light/layer01.png" alt="Layer">
            </div>
            <div class="parallax-layer" data-depth="0.12">
              <img src="/assets/img/404/light/layer02.png" alt="Layer">
            </div>
            <div class="parallax-layer zindex-5" data-depth="-0.12">
              <img src="/assets/img/404/light/layer03.png" alt="Layer">
            </div>
          </div>

          <h1 class="visually-hidden">404</h1>
          <p class="fs-xl pb-3 pb-md-0 mb-md-5">찾으시는 페이지가 없습니다.</p>
          <a href="/" class="btn btn-lg btn-primary w-sm-auto w-100">
            <i class="bx bx-home-alt me-2 ms-n1 lead"></i>
            메인으로 이동
          </a>
        </div>
      </section>
    </main>
 </body>
</html>