<% if (isPosition)  { %>
  <header class="header navbar navbar-expand-lg bg-light navbar-sticky position-absolute navbar-transparent" data-scroll-header>
<% } else { %>
  <header class="header navbar navbar-expand-lg bg-light navbar-sticky" data-scroll-header>
<% } %>
    <div class="container px-3">
      <a href="/" class="navbar-brand pe-3">
        <img class="top-logo hanafind-black" src="/assets/img/logo/hanafind-logo-black.png">
        <img class="top-logo hanafind-white" src="/assets/img/logo/hanafind-logo-white.png">
      </a>
      <div id="navbarNav" class="offcanvas offcanvas-end">
        <div class="offcanvas-header border-bottom">
          <h5 class="offcanvas-title">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav me-auto mb-2 mt-2 mtmb-lg-0">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">하나공감</a>
              <ul class="dropdown-menu">
                <li><a href="/blog/insurance" class="dropdown-item">보험</a></li>
                <li><a href="/blog/finance" class="dropdown-item">금융</a></li>
                <li><a href="/blog/life" class="dropdown-item">라이프</a></li>
              </ul>
            </li>
          </ul>
        </div>    
      </div>
      <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="header-scroll"><div></div></div>
  </header>
